nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 0;
}

img {
  width: 100%;
}
